*{
    margin: 0;
    padding: 0;
}
body{
    background-color: tomato;
    text-align: center;
    height: 1900px;
}
img{
    display: block;
    width: 100%;
}
h2{
    margin: 50px auto;
    font-family: sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    transition: .3s;
}
h2:hover{
    transform: scale(1.2);
}
.gallery{
    width: 85%;
    margin: auto;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 20px;
}
.gallery li{
    border: 10px solid white;
    transition: 1.3s ease-in-out;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}
.gallery li:hover{
    transform: rotateY(360deg);
}